Atualiza_Vers_o_Evolution_API.json
{
  "name": "Atualiza Versão Evolution API",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "UrlPortainer",
              "value": "https://seudominio.com.br"
            },
            {
              "name": "LoginPortainer",
              "value": "seuusuario"
            },
            {
              "name": "SenhaPortainer",
              "value": "suasenha"
            },
            {
              "name": "NomeStack",
              "value": "evolution_astrav2"
            }
          ]
        },
        "options": {}
      },
      "id": "a43abcf2-2166-4be0-896c-7c60432ceae6",
      "name": "Info Base1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        260,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base1').item.json.UrlPortainer }}/api/auth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"{{ $('Info Base1').item.json.LoginPortainer }}\",\n  \"password\": \"{{ $('Info Base1').item.json.SenhaPortainer }}\"\n}\n",
        "options": {}
      },
      "id": "1f587399-576c-4fef-addc-28b324524962",
      "name": "Paga Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        180
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "suastack",
              "value": "=version: \"3.7\"\n\nservices:\n  evolution_v2:  \n    image: evoapicloud/evolution-api:latest ## Versão da Evolution API\n    volumes:\n      - evolution_instancesv2:/evolution/instances\n    networks:\n      - network_public\n    environment:\n    ## Url da Evolution API\n    - SERVER_URL=https://seudominio.com.br\n    ## Dados de Autenticação\n    - AUTHENTICATION_TYPE=apikey\n    - AUTHENTICATION_API_KEY=suapikey ## GLOBAL API KEY\n    - AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=true\n    ## Configurações\n    - LANGUAGE=pt-BR\n    - CONFIG_SESSION_PHONE_CLIENT=WhatsAPI ## Nome que aparece no celular\n    - CONFIG_SESSION_PHONE_NAME=chrome    \n    ## Definir versão do Whatsapp Web\n    ## pegue a versão em: https://web.whatsapp.com/check-update?version=0&platform=web\n    - CONFIG_SESSION_PHONE_VERSION={{ $json.whatsappVersion }}\n    ## Configurações do Whatsapp Business Cloud (Api Oficial)\n    - WA_BUSINESS_TOKEN_WEBHOOK=evolution\n    - WA_BUSINESS_URL=https://graph.facebook.com\n    - WA_BUSINESS_VERSION=v20.0\n    - WA_BUSINESS_LANGUAGE=pt_BR\n    ## Sobre o QR-Code\n    - QRCODE_LIMIT=9999999999\n    - QRCODE_COLOR=#47A7F6\n    ## Aivar Banco de Dados Postgres\n    - DATABASE_ENABLED=true\n    - DATABASE_PROVIDER=postgresql\n    - DATABASE_CONNECTION_URI=postgresql://postgres:Mfcd62!!Mfcd62!!@postgresevo:5432/evolution\n    - DATABASE_CONNECTION_CLIENT_NAME=evolution\n    - DATABASE_SAVE_DATA_INSTANCE=true\n    - DATABASE_SAVE_DATA_NEW_MESSAGE=true\n    - DATABASE_SAVE_MESSAGE_UPDATE=true\n    - DATABASE_SAVE_DATA_CONTACTS=true\n    - DATABASE_SAVE_DATA_CHATS=true\n    # OpenAI\n    - OPENAI_ENABLED=true\n    # Dify\n    - DIFY_ENABLED=true\n    ## Ativar Banco de dados MinIO ou S3\n    - S3_ENABLED=false\n    - S3_ACCESS_KEY=\n    - S3_SECRET_KEY=\n    - S3_BUCKET=evolution\n    - S3_PORT=443\n    - S3_ENDPOINT=\n    - S3_USE_SSL=true    \n    ## Ativar o Cache Redis\n    - CACHE_REDIS_ENABLED=true\n    - CACHE_REDIS_URI=redis://redis:6379/2\n    - CACHE_REDIS_PREFIX_KEY=evolution\n    - CACHE_REDIS_SAVE_INSTANCES=false\n    - CACHE_LOCAL_ENABLED=false\n    ## Configurações das instancias\n    - DEL_INSTANCE=false\n    - DEL_TEMP_INSTANCES=false\n    ## Carregar módulo Typebot\n    - TYPEBOT_ENABLED=true\n    - TYPEBOT_API_VERSION=latest\n    ## Carregar móduto EVOAI\n    - EVOAI_ENABLED=true\n    ## Carregar móduto N8N\n    - N8N_ENABLE=true\n    ## Carregar módulo Chatwoot\n    - CHATWOOT_ENABLED=true\n    - CHATWOOT_MESSAGE_READ=true\n    - CHATWOOT_MESSAGE_DELETE=true\n    - CHATWOOT_IMPORT_DATABASE_CONNECTION_URI=postgresql://postgres:Mfcd62!!Mfcd62!!@postgres:5432/chatwoot?sslmode=disable\n    - CHATWOOT_IMPORT_PLACEHOLDER_MEDIA_MESSAGE=false ## true = Importar midia | false = Não importar midia     \n    ## Dados do RabbitMQ\n    - RABBITMQ_ENABLED=false\n    - RABBITMQ_URI=amqp://admin:admin@rabbitmq:5672/default\n    - RABBITMQ_EXCHANGE_NAME=evolution\n    - RABBITMQ_GLOBAL_ENABLED=false\n    - RABBITMQ_EVENTS_APPLICATION_STARTUP=false\n    - RABBITMQ_EVENTS_INSTANCE_CREATE=false\n    - RABBITMQ_EVENTS_INSTANCE_DELETE=false\n    - RABBITMQ_EVENTS_QRCODE_UPDATED=false\n    - RABBITMQ_EVENTS_MESSAGES_SET=false\n    - RABBITMQ_EVENTS_MESSAGES_UPSERT=true\n    - RABBITMQ_EVENTS_MESSAGES_EDITED=false\n    - RABBITMQ_EVENTS_MESSAGES_UPDATE=false\n    - RABBITMQ_EVENTS_MESSAGES_DELETE=false\n    - RABBITMQ_EVENTS_SEND_MESSAGE=false\n    - RABBITMQ_EVENTS_CONTACTS_SET=false\n    - RABBITMQ_EVENTS_CONTACTS_UPSERT=false\n    - RABBITMQ_EVENTS_CONTACTS_UPDATE=false\n    - RABBITMQ_EVENTS_PRESENCE_UPDATE=false\n    - RABBITMQ_EVENTS_CHATS_SET=false\n    - RABBITMQ_EVENTS_CHATS_UPSERT=false\n    - RABBITMQ_EVENTS_CHATS_UPDATE=false\n    - RABBITMQ_EVENTS_CHATS_DELETE=false\n    - RABBITMQ_EVENTS_GROUPS_UPSERT=false\n    - RABBITMQ_EVENTS_GROUP_UPDATE=false\n    - RABBITMQ_EVENTS_GROUP_PARTICIPANTS_UPDATE=false\n    - RABBITMQ_EVENTS_CONNECTION_UPDATE=true\n    - RABBITMQ_EVENTS_CALL=false\n    - RABBITMQ_EVENTS_TYPEBOT_START=false\n    - RABBITMQ_EVENTS_TYPEBOT_CHANGE_STATUS=false\n    ## Informações do Webhook\n    - WEBHOOK_GLOBAL_ENABLED=false\n    - WEBHOOK_GLOBAL_URL=\n    - WEBHOOK_GLOBAL_WEBHOOK_BY_EVENTS=false\n    - WEBHOOK_EVENTS_APPLICATION_STARTUP=false\n    - WEBHOOK_EVENTS_QRCODE_UPDATED=true\n    - WEBHOOK_EVENTS_MESSAGES_SET=true\n    - WEBHOOK_EVENTS_MESSAGES_UPSERT=true\n    - WEBHOOK_EVENTS_MESSAGES_EDITED=true\n    - WEBHOOK_EVENTS_MESSAGES_UPDATE=true\n    - WEBHOOK_EVENTS_MESSAGES_DELETE=true\n    - WEBHOOK_EVENTS_SEND_MESSAGE=true\n    - WEBHOOK_EVENTS_CONTACTS_SET=true\n    - WEBHOOK_EVENTS_CONTACTS_UPSERT=true\n    - WEBHOOK_EVENTS_CONTACTS_UPDATE=true\n    - WEBHOOK_EVENTS_PRESENCE_UPDATE=true\n    - WEBHOOK_EVENTS_CHATS_SET=true\n    - WEBHOOK_EVENTS_CHATS_UPSERT=true\n    - WEBHOOK_EVENTS_CHATS_UPDATE=true\n    - WEBHOOK_EVENTS_CHATS_DELETE=true\n    - WEBHOOK_EVENTS_GROUPS_UPSERT=true\n    - WEBHOOK_EVENTS_GROUPS_UPDATE=true\n    - WEBHOOK_EVENTS_GROUP_PARTICIPANTS_UPDATE=true\n    - WEBHOOK_EVENTS_CONNECTION_UPDATE=true\n    - WEBHOOK_EVENTS_LABELS_EDIT=true\n    - WEBHOOK_EVENTS_LABELS_ASSOCIATION=true\n    - WEBHOOK_EVENTS_CALL=true\n    - WEBHOOK_EVENTS_TYPEBOT_START=false\n    - WEBHOOK_EVENTS_TYPEBOT_CHANGE_STATUS=false\n    - WEBHOOK_EVENTS_ERRORS=false\n    - WEBHOOK_EVENTS_ERRORS_WEBHOOK=\n    ## Configuração do Provider\n    - PROVIDER_ENABLED=false\n    - PROVIDER_HOST=127.0.0.1\n    - PROVIDER_PORT=5656\n    - PROVIDER_PREFIX=evolution\n\n    deploy:\n      mode: replicated\n      replicas: 1\n      placement:\n        constraints:\n        - node.role == manager\n      labels:\n      - traefik.enable=1\n      - traefik.http.routers.evolution_v2.rule=Host(`seudominio.com.br`) ## Url da aplicação\n      - traefik.http.routers.evolution_v2.entrypoints=websecure\n      - traefik.http.routers.evolution_v2.priority=1\n      - traefik.http.routers.evolution_v2.tls.certresolver=letsencryptresolver\n      - traefik.http.routers.evolution_v2.service=evolution_v2\n      - traefik.http.services.evolution_v2.loadbalancer.server.port=8080\n      - traefik.http.services.evolution_v2.loadbalancer.passHostHeader=true\n\n  postgresevo:\n    image: pgvector/pgvector:pg14\n    environment:\n      - POSTGRES_PASSWORD=Mfcd62!!Mfcd62!!\n      - TZ=America/Sao_Paulo\n      - PG_MAX_CONNECTIONS=500\n    networks:\n      - network_public\n    #ports:\n    #  - 5434:5432\n    volumes:\n      - postgres_dataevo:/var/lib/postgresql/data\n    deploy:\n      mode: replicated\n      replicas: 1\n      placement:\n        constraints:\n          - node.role == manager\n         # - node.hostname == worker1\n      resources:\n        limits:\n          cpus: \"1\"\n          memory: 3072M\n\n\n\nvolumes:\n  evolution_instancesv2:\n    external: true\n    name: evolution_instancesv2\n  postgres_dataevo:\n    external: true\n    name: postgres_dataevo\n\n\nnetworks:\n  network_public:\n    name: network_public\n    external: true"
            }
          ]
        },
        "options": {}
      },
      "id": "b739a2a6-cebc-4133-bd23-51ce2a254ef5",
      "name": "Stack",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        800,
        -20
      ]
    },
    {
      "parameters": {
        "url": "https://wppconnect.io/whatsapp-versions/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -20
      ],
      "id": "4a60d0e3-d425-42fd-8670-0bfb03dd2000",
      "name": "Busca Versão"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        -20
      ],
      "id": "9e39d74d-0d3d-43ea-b633-484d000dedb4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.data;\nconst html = response.body || response;\n\nconst match = html.match(/https:\\/\\/web\\.whatsapp\\.com\\/\\?v=([\\d.-\\w]+)/);\n\nif (match && match[1]) {\n  const version = match[1].replace(/-.*$/, ''); \n  return [{ json: { whatsappVersion: version } }];\n} else {\n  return [{ json: { error: \"Versão não encontrada\" } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -20
      ],
      "id": "0675a49a-4235-4052-920d-1e29ccb2fb4d",
      "name": "Extrai Ultima Versão"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Info Base1').item.json.UrlPortainer }}/api/stacks/{{ $('Filtra Stack Evo').item.json.Id }}?endpointId=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Paga Token').item.json.jwt }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pullImage\": false,\n  \"prune\": true,\n  \"stackFileContent\": \"{{ $json.stackConvert }}\"\n}",
        "options": {
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        180
      ],
      "id": "b3373bee-28f9-4f55-ae33-9798c1c167c1",
      "name": "Update Stack"
    },
    {
      "parameters": {
        "url": "={{ $('Info Base1').item.json.UrlPortainer }}/api/stacks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Paga Token').item.json.jwt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        180
      ],
      "id": "22f7be87-4cce-4761-9c6a-2ab35b9a0a58",
      "name": "Busca as Stacks"
    },
    {
      "parameters": {
        "url": "={{ $('Info Base1').item.json.UrlPortainer }}/api/endpoints/1/docker/containers/json?all=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Paga Token').item.json.jwt }}"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        380
      ],
      "id": "79cb734d-8e57-4c76-82e6-338a198e244e",
      "name": "Busca Conteineres Vazios"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('Info Base1').item.json.UrlPortainer }}/api/endpoints/1/docker/containers/{{ $json.Id }}?force=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Paga Token').item.json.jwt }}"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        400
      ],
      "id": "30e53c25-b117-45d6-91b7-1add2c484184",
      "name": "Deleta Conteiner Vazio"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        380
      ],
      "id": "b9c36350-55e8-474d-a47f-e2270c1b3513",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        100,
        380
      ],
      "id": "5f39222a-08ba-4d56-9b1f-1c43c422738d",
      "name": "Wait",
      "webhookId": "59ee23fe-9a83-4810-846e-b601b380754e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55352201-6ab6-4df1-99eb-48dd4c2c25a7",
              "leftValue": "={{ $json.Name }}",
              "rightValue": "={{ $('Info Base1').item.json.NomeStack }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        440,
        180
      ],
      "id": "5bd38be1-64ff-45d7-a05b-0e32e1ed54c6",
      "name": "Filtra Stack Evo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f9e3b65-00fa-4105-9c64-d8df353ccac6",
              "leftValue": "={{ $json.State }}",
              "rightValue": "exited",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        500,
        380
      ],
      "id": "5d891a64-27ae-4707-96c9-f2bc0d84c1dc",
      "name": "Filtra Conteineres Vazios"
    },
    {
      "parameters": {
        "jsCode": "const originalYaml = $('Stack').first().json.suastack;\n\nconst stackConvert = originalYaml\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\"/g, '\\\\\"')\n  .replace(/\\n/g, '\\\\n')\n  .replace(/\\t/g, '\\\\t');\n\nreturn [{\n  json: {\n    stackConvert: stackConvert\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        180
      ],
      "id": "941cfdf1-3a5f-4566-8ee1-63304bfb7f95",
      "name": "Converte Stack"
    }
  ],
  "pinData": {},
  "connections": {
    "Info Base1": {
      "main": [
        [
          {
            "node": "Busca Versão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paga Token": {
      "main": [
        [
          {
            "node": "Busca as Stacks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stack": {
      "main": [
        [
          {
            "node": "Paga Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Versão": {
      "main": [
        [
          {
            "node": "Extrai Ultima Versão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Info Base1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Ultima Versão": {
      "main": [
        [
          {
            "node": "Stack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca as Stacks": {
      "main": [
        [
          {
            "node": "Filtra Stack Evo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Stack": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Conteineres Vazios": {
      "main": [
        [
          {
            "node": "Filtra Conteineres Vazios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Deleta Conteiner Vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Conteiner Vazio": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Busca Conteineres Vazios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra Stack Evo": {
      "main": [
        [
          {
            "node": "Converte Stack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra Conteineres Vazios": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte Stack": {
      "main": [
        [
          {
            "node": "Update Stack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8451def0-e868-4ef7-b864-64db816d0b4b",
  "meta": {
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "ICcqWIzkHTo1pVKe",
  "tags": []
}